<h3>Create Employee</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()" name="create-employee-form" #employeeForm ="ngForm">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName"
             required [(ngModel)]="employee.firstName" name="firstName" mask="S*">
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="employee.lastName"
             name="lastName" mask="S*">
    </div>

    <div class="form-group">
      <label for="phoneNumber">Phone number</label>
      <input required class="form-control" type="text" id="phoneNumber" name="phoneNumber" mask='(000) 000-0000'
             [(ngModel)]="employee.phoneNumber">
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!employeeForm.valid">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
</div>
